# Systemd Service Config
[Unit]
Description=RPI-Sensor
After=network.target

[Service]
Type=simple
User=pi
### Replace with wherever you cloned the repo
WorkingDirectory=/home/pi/RPI-MQTT-JSON-Multisensor/
### Run 'which python' and replace /usr/bin/python if necessary
ExecStart=/usr/bin/python multisensor.py
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
